<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 해당 mapper파일의 고유한 별칭 -->
<mapper namespace="memberMapper">
  <resultMap type="Member" id="memberResultSet">
  <!--<result column ="테이블 컬럼명" property="객체의 필드명"/>  -->
   <result column = "USER_NO" property="USER_NO"/>
   <result column = "USER_ID" property="USER_ID"/>
   <result column = "USER_PWD" property="USER_PWD"/>
   <result column = "USER_NAME" property="USER_NAME"/>
   <result column = "EMAIL" property="EMAIL"/>
   <result column = "BIRTHDAY" property="BIRTHDAY"/>
   <result column = "GENDER" property="GENDER"/>
   <result column = "PHONE" property="PHONE"/>
   <result column = "ADDRESS" property="ADDRESS"/>
   <result column = "ENROLL_DATE" property="ENROLL_DATE"/>
   <result column = "MODIFY_DATE" property="MODIFY_DATE"/>
   <result column = "STATUS" property="STATUS"/>
  </resultMap>
<!-- 
	*SELECT 문 전송시
	<select id="각 sql문의 식별자" [parameterType="전달받을 자바타입"] resultMap="결과객체" | resultType="결과타입">
	</select>
 -->
  <select id="LoginMember" parameterType="Member" resultMap="memberResultSet">
	SELECT  USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			EMAIL,
			BIRTHDAY,
			GENDER,
			PHONE,
			ADDRESS,
			ENROLL_DATE,
			MODIFY_DATE,
			STATUS
	FROM MEMBER
	WHERE USER_ID = #{userId}
	AND USER_PWD = #{userPwd}
	AND STATUS = 'Y'
  </select>
</mapper>